.btn {
    border: none;
    cursor: pointer;
    font-family:$font-engcomica;
    padding: .45rem .5rem .25rem;
    outline: none;
    &::-moz-selection,
    &::selection,
    &:focus,
    &::-moz-focus-inner {
        border: none;
        outline: none;
    }
}