@import "./config/_colors.scss";
@import "./config/_fonts.scss";
@import "./elements/_buttons.scss";
@import "./components/_exercice.scss";

*, *::before, *::after {
  box-sizing: border-box;
}
body {
  font-family:$font-engcomica;
  margin: 0;
}
h1 {
  font-size: 3rem;
}
.app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  &--header {
    background-color: hsl(var(--main-tint), 20%, 50%);
    display: flex;
    align-items: center;
    height: 3rem;
    padding: .5rem;
    width: 100vw;
    &-btn {
      background-color: hsl(var(--main-tint), 30%, 90%);
      border-radius: .2rem;
      margin-right: .5rem;
      &:hover {
          background-color: hsl(var(--main-tint), 30%, 30%);
          color: hsl(var(--main-tint), 50%, 100%);
      }
    }
  }
  &--main {
    align-content: center;
    display: grid;
    justify-content: center;
    padding: .5rem;
  }
  &--footer {
    background-color: hsl(var(--main-tint), 20%, 20%);
    color: hsl(150, 50%, 100%);
    padding: .5rem .5rem .5rem;
    width: 100vw;
  }
}
